
*{
    margin: 0;padding: 0;
    font-family: sans-serif; 
}



h1{
    text-align: center;
    margin: 10px 0;
    text-transform: capitalize;   
    color: red;
}
button{
    cursor: pointer;
    margin: 10px 50px;
    border: none;
    background-color: rgb(94, 223, 20);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
}
button:hover{
    background-color: rgb(73, 170, 17);
}
.container{
    width: auto;
    min-height: 20vh;
    margin: 20px 10px;
    background-color: aqua;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.container .header{
    background-color: rgb(162, 150, 173);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .header select{
    width: fit-content;
    text-transform: capitalize;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: rgb(20, 19, 19);
}
.container .header select:focus{
    outline: none;
}

.container .header .heading{
    font-size: 30px;
}
.container .text{
    font-size: 15px;
}
.container .text.output{
    padding: 10px 20px;
    font-size: 15px;
}
.container .text textarea{
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    box-sizing: border-box;
    resize : none;
}

.container .text textarea:focus{
    outline: none;
}

